Tour-Management/Client/Connected Services/ServiceReference2/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Tour_CRUD" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Tour_CRUD" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOftour">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tour" nillable="true" type="tns:tour" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftour" nillable="true" type="tns:ArrayOftour" />
  <xs:complexType name="tour">
    <xs:sequence>
      <xs:element minOccurs="0" name="desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imagepath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="placeid" type="xs:int" />
      <xs:element minOccurs="0" name="price" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tour" nillable="true" type="tns:tour" />
</xs:schema>